<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.min.js"></script>
<script>
{{.Code}}
</script>
<style>
html, body {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  background: #292a33;
}
</style>
</head>
<body>
</body>
</html>
